/* - - - GENERAL - - - */
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Reenie Beanie', cursive;
}

html {
    overflow: hidden;
}

.container {
    width:200vw;
}

section{
    width:100vw;
    height: 100vh;
    flex: 0 0 auto;
}

/* - - - ANIMACIONES - - - */

@keyframes floating {
    0%   { margin-top: calc(-100vh/54) }
    25%  { margin-top: calc(50vh/54) }
    50%  { margin-top: calc(-50vh/54) }
    75%  { margin-top: calc(100vh/54) }
    100% { margin-top: calc(-100vh/54) }
}

@keyframes wave {
    0% { background-position:0 center; }
    100% { background-position:-200vw center; }
}
@keyframes texto{
    0% {color: transparent;}
    48% {color:transparent;
    margin-bottom: -70%;}
    100% {  color:rgb(22, 35, 54);
    margin-bottom:  100%;}
    }
    @keyframes author{
        0% {color: transparent;}
        80% {color:transparent; }
        100% {color:rgb(22, 35, 54);;}
        }
    
@keyframes change{
    0% {height: 50px;
    background-image: url("./images/secuencia/01.png");
background-position: top;}
    8% {height: 150px;
        background-image: url("./images/secuencia/02.png");
        background-position: top;}
    16% {height: 200px;
        background-image: url("./images/secuencia/03.png");
        background-position: top;}
    24% {height: 250px;
        background-image: url("./images/secuencia/04.png");
        background-position: top;}
    32%{height: 300px;
        background-image: url("./images/secuencia/05.png");
        background-position: top;}
    40%{height: 350px;
        background-image: url("./images/secuencia/06.png");
        background-position: top;}
    48%{height: 400px;
        background-image: url("./images/secuencia/07.png");
        background-position: top;}
    56%{height: 450px;
        background-image: url("./images/secuencia/08.png");
        background-position: top;}
    64%{height: 460px;
        background-image: url("./images/secuencia/09.png");
        background-position: top;}
    72%{height: 470px;
        background-image: url("./images/secuencia/10.png");
        background-position: top;}
    80%{height: 480px;
        background-image: url("./images/secuencia/11.png");
        background-position: top;}
    88%{height: 500px;
        background-image: url("./images/secuencia/12.png");
        background-position: top;}
    96%{height: 500px;
        background-image: url("./images/secuencia/13.png");
        background-position: top;}
    100%{height: 500px;
            background-image: url("./images/pergamino.png")
        }
  }


/* - - - SUPERFICIE - - - */

.sky {
   background-color: rgb(180, 197, 206);
    background-image: url('./images/clouds.png');
    background-size: 200vw 100vh;
    width: 200vw;
    display: flex;
    flex-flow: row wrap;
}

.waves {
    background-image: url('./images/waves.png');
    animation:wave 12s infinite linear;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-size: 100vw 100vh;
}

.island{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

/* - - - BAJO EL AGUA - - - */

.sea {
    background-color: rgb(92, 154, 188);
    background-image: url('./images/bottom.png');
    background-size: 200vw 100vh;
    width: 200vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
}
.sea section{
    background-image: url('./images/undersea.png');
    background-size: 100vw 100vh;
    animation:wave 12s infinite linear;
}

/* - - - BOTON - - - */

#next{
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 10vh;
    right: 10vw;
    z-index: 6;
    background-color: #1d0122;
    color: beige;
    border-radius:50%;
    border: none;
    font-family: 'Baloo Tammudu 2', sans-serif;
}

.tuto {
    position:absolute;
    bottom: 10px;
    right: 10px;
    color: #1d0122;
    text-shadow: beige 1px 1px 2px;
    z-index:5;
    font-size: 30px;
    
}

/* - - - BOTELLAS - - - */

.bottle {
    position: absolute;
    z-index: 2;
    animation: floating 12s infinite linear;
}

.bottle img {
    max-width: 100%;
}

/* - - - POP UP - - - */

#messages {
    flex-flow: column;
    justify-content: space-between;
    position: absolute;
    margin: 10% 20%;
    width: 550px;
    height: 460px;
    z-index: 5;
    padding: 20px;
    background-image:url("./images/pergamino.png");
    background-position: bottom;
    animation:  change 5s 1;
}

.open {
    display: flex;
}

.closed {
    display: none;
}
.close{
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 40px;
    font-weight: bolder;
    margin-right: 5%;
    color: darkslategray;
}
.close, #author {
    text-align: right;
}
#author{
    position:absolute;
    margin: -90px 0 0 330px; 
    color: rgb(46, 31, 2);
    font-size: 25px;
    font-family: 'Reenie Beanie';
    animation: author 5s 1;
}
#text {
    position: absolute;
    font-size: 28px;
    margin: -55vh 0 20vw 9vw;
    width: 28vw;
    animation: texto 5s 1;
    font-family: 'Reenie Beanie';
    color:rgb(22, 35, 54);
}

/* - - - TEXTOS - - - */

.textos {
    width: 100vw;
    position: absolute;
    margin: 0;
    margin-top:30vh;
    margin-left: 10vw;;
    z-index: 3;
    color: beige;
    text-shadow: #1d0122 3px 3px 6px;
    text-align: center;
    font-size: 24px;
    font-family: 'Baloo Tammudu 2', sans-serif;
    font-weight: 700;
}
#dani{
    position: absolute;
    z-index: 4;
    margin-top:100px;
}